:root {
  --desktop-large: .51vw;
  --base: .6vw;
  --desktop-view: .75vw;
  --tablet-view: 1vw;
  --mobile-view: 2vw;

  --font-size-12: 1.2rem;
  --font-size-13: 1.3rem;
  --font-size-14: 1.4rem;
  --font-size-16: 1.6rem;
  --font-size-18: 1.8rem;

  /* COLORS */
  --primary-color: #FED231;
  --success: #0C9F85;
  --error: #F84646;

  --warning: #ff8f20;
  --blue: #3f55e2;

  --red: #D7382F;
  --red-dark: #7c2420;
  --background-color: #F1F5F9;
  --black: #212121;
  --white: #ffffff;
  --disabled: #c0c4cc;
  --enabled: #606266;
  --transparent: rgba(255, 255, 255, 0);

  --gray-dark: #6A6A6A;
  --gray-light: #C0C4CC;
  --font-color: #2d2d2d;

  --input-background: #eff4f7;

  /* FONTS */
  --primary-font-family: 'Mulish', 'sans-serif';
  --secondary-font-family: 'Lobster', 'cursive';

  /* GENERAL VARIABLES */
  --border-radius: 2px;
  --box-shadow: 2px 6px 10px 0 rgba(106, 106, 106, 0.2);
  --input-shadow: 1px 4px 8px 0 rgba(106, 106, 106, 0.15);
  --nav-shadow: 1px 4px 8px 0 rgba(106, 106, 106, 0.1);

  /* FONT SIZES*/
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;

  /* VIEW */
  --desktop: 1024px;
  --tablet: 768px;
  --mobile: 425px;

  /* ANIMATION */
  --transition: all .25s ease-in-out;
  --cubic-bezier: all .55s cubic-bezier(0.43, -0.22, 0.25, 1.55);
  --box-sort: all .35s ease-in-out;
}
